<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Your Orders</h3>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Order Tracking Number</th>
                    <th>Order Price</th>
                    <th>Quantity</th>
                    <th>Date Created</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="let tempOrder of orderHistoryList"> 
                    <td>{{tempOrder.orderTrackingNumber}}</td>
                    <td>{{tempOrder.totalPrice}}</td>
                    <td>{{tempOrder.totalQuantity}}</td>
                    <td>{{tempOrder.dateCreated}}</td>
                    <td>{{tempOrder.status}}</td>
                </tr>
            </table>
        </div>

        <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
            No orders found.
        </div>

    </div>
</div>
